<div ng-controller="AppController as appController">
    <div class="container">
        <div class="toolbar">
            <!-- toolbar title -->
            <h3>Toolbar</h3><a href="#" class="close" ng-click="appController.hideToolbar()"></a>
            <div title='Toggle grid visibility'>
                <label>Grid Visible</label>
                <input class="inputControls" type="checkbox"
                    ng-model="appController.DrawingService.projectionPlane.visible"
                    />
            </div>
            <!-- TUNE BRUSH -->
            <div title='Set the brush size'>
                <label>Brush size</label>
                <input class="inputControls" type="range" min=0.1 max=1000 
                ng-model="appController.DrawingService.brushSize"
                />
                <span>{{appController.DrawingService.brushSize}}</span>
            </div>
            <div title='Set the brush color'>
                <label>Brush color</label>
                <input class="inputControls" type="color" 
                ng-model="appController.DrawingService.brushCSSColor"
                ng-change="appController.DrawingService.updateSpriteMaterial()"
                />
            </div>
            <div title='Set the brush opacity'>
                <label>Brush opacity</label>
                <input class="inputControls" type="range" min=0 max=1 step=0.05 
                ng-model="appController.DrawingService.spriteMaterial.opacity"
                />
                <span>{{appController.DrawingService.spriteMaterial.opacity}}</span>
            </div>
            <!-- POSITION -->
            <hr/>
            <div title='Set the position x'>
                <label>Position x</label>
                <input class="inputControls" type="range" min=-300 max=300 step=0.1
                    ng-model="appController.DrawingService.projectionPlane.position.x"/>
                <span>{{appController.DrawingService.projectionPlane.position.x | number: 2}}</span>
            </div>
            <div title='Set the position y'>
                <label>Position y</label>
                <input class="inputControls" type="range" min=-300 max=300 step=0.1                      
                    ng-model="appController.DrawingService.projectionPlane.position.y"/>
                <span>{{appController.DrawingService.projectionPlane.position.y | number: 2}}</span>                
            </div>
            <div title='Set the position z'>
                <label>Position z</label>
                <input class="inputControls" type="range" min=-300 max=300 step=0.1 ng-model="appController.DrawingService.projectionPlane.position.z"/>
                <span>{{appController.DrawingService.projectionPlane.position.z | number: 2}}</span>
            </div>
            <!-- SCALE -->
            <hr/>
            <div title='Set the scale x'>
                <label>Scale x</label>
                <input class="inputControls" type="range" min=0.1 max=2 step=0.1 ng-model="appController.DrawingService.projectionPlane.scale.x"/>
                <span>{{appController.DrawingService.projectionPlane.scale.x | number: 2}}</span>
            </div>
            <div title='Set the scale y'>
                <label>Scale y</label>
                <input class="inputControls" type="range" min=0.1 max=2 step=0.1                      
                    ng-model="appController.DrawingService.projectionPlane.scale.y"/>
                <span>{{appController.DrawingService.projectionPlane.scale.y | number: 2}}</span>                
            </div>
            <div title='Set the scale z'>
                <label>Scale z</label>
                <input class="inputControls" type="range" min=0.1 max=2 step=0.1 ng-model="appController.DrawingService.projectionPlane.scale.z"/>
                <span>{{appController.DrawingService.projectionPlane.scale.z | number: 2}}</span>
            </div>
            <!-- ROTATION -->
            <hr/>
            <div title='Set the rotation x'>
                <label>Rotation x</label>
                <input class="inputControls" type="range" min=0 max=359 step=1 ng-model="appController.data.rotateX" ng-change="appController.rotate()"/>
                <span>{{appController.data.rotateX }}</span>
            </div>
            <div title='Set the rotation y'>
                <label>Rotation y</label> 
                <input class="inputControls" type="range" min=0 max=359 step=1 ng-model="appController.data.rotateY" ng-change="appController.rotate()"/>
                <span>{{appController.data.rotateY }}</span>
            </div>
            <div title='Set the rotation z'>
                <label>Rotation x</label>
                <input class="inputControls" type="range" min=0 max=359 step=1 ng-model="appController.data.rotateZ" ng-change="appController.rotate()"/>
                <span>{{appController.data.rotateZ }}</span>
            </div>
        </div>
    </div>
    <!-- canvas element -->
    <div id="container" class="container">
        <canvas id="viewer" canvas-events></canvas>
    </div>
</div>
