<!DOCTYPE html>
<html ng-app="myModule">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<link rel="stylesheet" href="css/main.css">
	<body ng-controller="myController">
		<div id='viewPort'>
			<iframe src="three.js/editor/index.html"></iframe>
		</div>
		<div id='sideBar'>
			<h3>Sidebar</h3>
			<hr>
			<h3>Transform mode</h3>
			<a href='javascript:void(0);' ng-click='i4dsClient.changeTranformMode("translate")'>Translate</a>
			-
			<a href='javascript:void(0);' ng-click='i4dsClient.changeTranformMode("rotate")'>Rotate</a>
			-
			<a href='javascript:void(0);' ng-click='i4dsClient.changeTranformMode("scale")'>Scale</a>
			<br/>
			<hr>
			<h3>Position</h3>
			<label>Position X : </label><span id='positionX'>n/a</span>
			<br/>
			<label>Position Y : </label><span id='positionY'>n/a</span>
			<br/>
			<label>Position Z : </label><span id='positionZ'>n/a</span>
			<br/>
			<hr>
			<h3>Scale</h3>
			<div>
				<label>Scale X</label>
				<input id='inputScaleX' force-number
					type="range" min=0.1 max=5 step=0.1
					ng-model="data.scale.x"
					ng-change="i4dsClient.updateScale()"/>
				<span>{{data.scale.x | number: 2}}</span>
			</div>
			<div>
				<label>Scale Y</label>
				<input id='inputScaleY' force-number
					type="range" min=0.1 max=5 step=0.1
					ng-model="data.scale.y"
					ng-change="i4dsClient.updateScale()"/>
				<span>{{data.scale.y | number: 2}}</span>
			</div>
			<div>
				<label>Scale Z</label>
				<input id='inputScaleZ' force-number
					type="range" min=0.1 max=5 step=0.1
					ng-model="data.scale.z"
					ng-change="i4dsClient.updateScale()"/>
				<span>{{data.scale.z | number: 2}}</span>
			</div>
			<hr>
			<h3>Scene</h3>
			<a href='javascript:void(0);' ng-click='i4dsClient.clearScene()'>Clear Scene</a>
			-
			<a href='javascript:void(0);' ng-click='i4dsClient.deleteSelected()'>delete Selected</a>
			<hr>
			<h3>Add Object</h3>
			<a href='javascript:void(0);' ng-click='i4dsClient.addCube()'>Add Cube</a>
			-
			<a href='javascript:void(0);' ng-click='i4dsClient.addSphere()'>Add Sphere</a>
		</div>
		<script src="three.js/editor/js/libs/signals.min.js"></script>
		<script>
			window.Signals = signals;
			delete window.signals;
		</script>
		<script src="i4dsClient.js"></script>
		<script src="angularMain.js"></script>
	</body>
</html>
